@media (max-width:320px){
    #loading-screen {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000; /* Background color for the loading screen */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999; /* Ensure it appears on top of your content */
    }
    
    .loading-animation {
        text-align: center;
        color: #fff;
    }
    .loading-animation>.tree{
      margin-left: -2vw;
    }
    .loading-animation>.flower{
        margin-left: -2vw;
    }
    .loading-animation>.tree,.flower,.fruit{
        font-size: 16px;
    }
    .loading-animation>.flower{
    font-size: 17px;
    }
    .loading-animation>.tree,.flower,.fruit{
        animation-name: sohaib;
        animation-duration: 3s;
        animation-delay: 0.5s;
        animation-iteration-count: infinite;
    }
    @keyframes sohaib{
        0%{
            transform: scale(1.4);
        }
        25%{
            transform: scale(1.1);
        }
        75%{
            transform: scale(1.3);
        }
        100%{
            transform: scale(1.2);
        }
    }
    .popup {
        display: none;
        position: fixed;
        top: -12vh;
        left: 0vw;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index:1000;
    }    
    .popup-content {
        background-color: #fff;
        width: 85%;
        max-width: 320px;
        margin: 100px auto;
        margin-left: 7.5vw;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        position: relative;
    }
    header>.unorder-list{
        display: none;
    }
    header>.fa-bars{
        display: block;
        cursor: pointer;
        margin-left: 35vw;
    }
    header>.fa-times{
        cursor: pointer;
        margin-left: 35vw;
    }
    header{
        position: absolute;
        width: 100%;
        height: 13vh;
        top: 0;
        left: 0;
        display: flex;
        gap: 1vw;
        align-items: center;
        transition: 0.6s;    
        z-index: 999;
        border-bottom: 1px solid gainsboro;
        background-color: #004d42;
    }
    .header-2{
        position: absolute;
        top: 10vh;
        left: -5vw;
        display: flex;
        gap: 10vw;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-bottom: none;
        font-size: 20px;
        z-index: 1;
        background-color: transparent;
    }
    .header-2>a>.foto{
        margin-top: 1.75vh;
        width: 20px;
    }
    .begin{
        position: relative;
        height: 190vh;
        width:100%;
        background-image: linear-gradient(rgba(0,0,0,.5) , rgba(0,0,0,.75)) , url(images/main-background.jpg);
        background-size: cover;
        background-position: center center;
    }
    .begin>.father{
        position: absolute;
        top: 20vh;
        left: 10vw;
    }
    .begin>.father>.heading>h1{
        font-size: 24px;
        color: #fff;
        margin-left: 9vw;
    }
    .begin>.father>.heading>h2{
        font-size: 22px;
        color: #fff;
    }
    .begin>.father>.float{
        margin-left: -6.25vw;
        display: flex;
        flex-wrap: wrap;
        gap: 0.3vw;
        align-items: center;
        justify-content: center;
    }
    .begin>.father>.box{
        margin-left: -3.75vw;
        background-color: #fff;
        box-shadow: 0px 2px 10px #333;
        width: 100%;
        height: 85vh;
        display: block;
    }
    .begin>.father>.float>button{
        width: 92.5px;
        height: 45px;
        outline: none;
        border: none;
    }
    .begin>.father>.box>.inputs>form>.what-3>.wela{
        margin-left: 10vw;
    }
    .begin>.father>.box>.inputs>form>.what-3>.todo{
        margin-left: 10vw;
        display: flex;
        flex-wrap: wrap;
    }
    .begin>.box>.inputs>form>.what-3>.todo>select{
        gap: 0px;
        width: 50px;
        height: 40px;
        outline: none;
    }
    .begin>.father>.box>.inputs>form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap: 2vw;
        margin-top: 3vh;
        margin-left: 0.25vw;
    }
    .begin>.box>.inputs>form>.what{
        line-height: 30px;
    }
    .begin>.box>.inputs>form>.what>select{
      width: 200px;
      height: 40px;
    }
    .begin>.box>.inputs>form>.what-1>input{
        width: 200px;
        height: 40px;
        outline: none;
    }
    .begin>.box>.inputs>form>.what-2{
        line-height: 30px;
    }
    .begin>.box>.inputs>form>.what-2>select{
        width: 200px;
        height: 40px;
    }
    .begin>.box>.inputs>form>.what-3>.todo>input{
        width: 200px;
        height: 40px;
        outline: none;
    }
    .begin>.box>.inputs>form>.what-3>.todo>select{
        margin-top: 0.75vh;
        width: 50px;
        height: 40px;
        outline: none;
    }
    .begin>.box>.inputs>form>.submit>button{
        margin-top: 4vh;
        background-color: #004d42;
        width: 170px;
        height: 40px;
        border: 1px solid transparent;
        color:#fff;
        border-radius: 5px;
        transition: all 0.5 ease-out;
    }
    .begin>.box>.inputs>form>.submit>button:hover{
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }
    .begin-1{
        position: relative;
        height: 300vh;
    }
    .begin-1>.troe{
        position: absolute;
        top: 10vh;
        left: 5vw;
        background-color: #000;
        width: 90%;
        height: 6.5vh;
        border: 1px solid black;
        border-radius: 5px;
    }
    .begin-1>.troe>h3{
        margin-top: 0vh;
        color: #fff;
        text-indent: 1.5vw;
    }
    .begin-1>.bre-main{
    position: absolute;
    top: 35vh;
    left: 4vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    justify-content: center;
    }
    .begin-1>.bre-main>.bre-1{
        background-color: #f8f8f8;
        width: 280px;
        height: 400px;
        border: 1px solid gainsboro;
        border-radius: 5px;
    }
    .begin-1>.bre-main>.bre-1>img{
        width: 280px;
        height: 300px;
    }
    .begin-1>.bre-main>.bre-1>p{
        font-size: 14px;
        text-indent: 10px;
    }
    .begin-1>.bre-main>.bre-1>h6{
        color: #004d42;
        margin-top: 0.5vh;
        text-indent: 10px;
        font-size: 18px;
    }
    .begin-1>a>button{
        position: absolute;
        top: 280vh;
        left: 15vw;
        width: 200px;
        height: 40px;
        background-color: #004d42;
        color: #fff;
        border: 1px solid transparent;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s ease-out;
    }
    .begin-1>a>button:hover{
        background-color: #000;
    }
    .purchase{
        position: relative;
        height: 190vh;
        background-image: linear-gradient(rgba(35,100,92,1) , rgba(35,100,92,0.5)) , url(images/contactus.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .purchase>.moon{
        position: absolute;
    }
    .purchase>.moon>.head{
        margin-top: 5vh;
        margin-left: 5vw;
        color: #ffff;
    }
    .purchase>.moon>.head>h1{
        font-size: 20px;
    }
    .purchase>.moon>.box-1{
        position: absolute;
        top: 20vh;
        left: 5vw;
        width: 90vw;
        height: 140vh;
        background-color: #fff;
    }
    .purchase>.moon>.box-1>.inputs-1{
        margin-top: 5vh;
        margin-left: 10vw;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .purchase>.moon>.box-1>.inputs-1>form{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .purchase>.moon>.box-1>.inputs-1>form>.sumbit{
        margin-top: 3vh;
        margin-left: 0vw;
        border-radius: 10px;
        background-color: #004d42;
        color: #fff;
        transition: all 0.5s ease-out;
        border: 1px solid transparent;
        cursor: pointer;
    }
    .purchase>.moon>.box-1>.inputs-1>form>.sumbit:hover{
        background-color: #000;
    }
    .purchase>.moon>.box-1>.inputs-1>form>input{
        width: 200px;
        height: 50px;
        outline: none;
        text-indent: 10px;
    }
    .purchase>.moon>.box-1>.inputs-1>form>select{
        width: 200px;
        height: 50px;
        z-index: 1;
    }
    .footer{
        position: relative;
        height: 250vh;
        background-color: #004d42;
    }
    .footer>.extract{
        position: absolute;
        top: 5vh;
       left: 7vw;
        display: flex;
        flex-direction: column;
        gap: 55vh;
    }
    .footer>.extract>.quick-links>ul{
        list-style: none;
        line-height: 40px;
    }
    .footer>.extract>.quick-links>ul>li>a{
        text-decoration: none;
        color: #fff;
    }
    .footer>.extract>.social>ul{
        list-style: none;
        line-height: 40px;
    }
    .footer>.extract>.social>ul>li>a{
        text-decoration: none;
        color: #fff;
    }
    .footer>.extract>.top{
        margin-top: -10vh;
        margin-left: -2vw;
    }
    .footer>.extract>.top>ul{
        list-style: none;
        line-height: 40px;
    }
    .footer>.extract>.top>ul>li>a{
        text-decoration: none;
        color: #fff;
    }
    .footer>.extract>.location{
        margin-top: 10vh;
    }
    .footer>.extract>.location>ul{
        list-style: none;
        line-height: 40px;
    }
    .footer>.extract>.location>ul>li>a{
        text-decoration: none;
        color: #fff;
    }
    .footer>.footer-imp{
        position: absolute;
        top: 240vh;
        background-color: #000;
        height: 9.75vh;
        width: 100%;
    }
    .footer>.footer-imp>p{
        margin-top: 0vh;
        text-align: center;
        color: #ffff;
    }
}



@media (min-width: 321px) and (max-width: 375px){
    #loading-screen {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #000; /* Background color for the loading screen */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999; /* Ensure it appears on top of your content */
    }
    
    .loading-animation {
        text-align: center;
        color: #fff;
    }
    .loading-animation>.tree{
      margin-left: -2vw;
    }
    .loading-animation>.flower{
        margin-left: -2vw;
    }
    .loading-animation>.tree,.flower,.fruit{
        font-size: 16px;
    }
    .loading-animation>.flower{
    font-size: 17px;
    }
    .loading-animation>.tree,.flower,.fruit{
        animation-name: sohaib;
        animation-duration: 3s;
        animation-delay: 0.5s;
        animation-iteration-count: infinite;
    }
    @keyframes sohaib{
        0%{
            transform: scale(1.4);
        }
        25%{
            transform: scale(1.1);
        }
        75%{
            transform: scale(1.3);
        }
        100%{
            transform: scale(1.2);
        }
    }
    .popup {
        display: none;
        position: fixed;
        top: -12vh;
        left: 0vw;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1000;
    }    
    .popup-content {
        background-color: #fff;
        width: 85%;
        max-width: 320px;
        margin: 100px auto;
        margin-left: 7.5vw;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        position: relative;
    }
    header>.unorder-list{
        display: none;
    }
    header>.fa-bars{
        display: block;
        cursor: pointer;
        margin-left: 35vw;
    }
    header>.fa-times{
        cursor: pointer;
        margin-left: 35vw;
    }
    header{
        position: absolute;
        width: 100%;
        height: 13vh;
        top: 0;
        left: 0;
        display: flex;
        gap: 1vw;
        align-items: center;
        transition: 0.6s;    
        z-index: 999;
        border-bottom: 1px solid gainsboro;
        background-color: #004d42;
    }
    .header-2{
        position: absolute;
        top: 10vh;
        left: -3.5vw;
        display: flex;
        gap: 10vw;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-bottom: none;
        font-size: 20px;
        z-index: 1;
        background-color: transparent;
    }
    .header-2>a>.foto{
        margin-top: 1.75vh;
        width: 20px;
    }
    .begin{
        position: relative;
        height: 190vh;
        width:100%;
        background-image: linear-gradient(rgba(0,0,0,.5) , rgba(0,0,0,.75)) , url(images/main-background.jpg);
        background-size: cover;
        background-position: center center;
    }
    .begin>.father{
        position: absolute;
        top: 20vh;
        left: 10vw;
    }
    .begin>.father>.heading{
        margin-left: 1vw;
    }
    .begin>.father>.heading>h1{
        font-size: 24px;
        color: #fff;
        margin-left: 10vw;
    }
    .begin>.father>.heading>h2{
        font-size: 23px;
        color: #fff;
    }
    .begin>.father>.float{
        margin-left: -2vw;
        display: flex;
        flex-wrap: wrap;
        gap: 1vw;
        align-items: center;
        justify-content: center;
    }
    .begin>.father>.box{
        margin-left: -1vw;
        background-color: #fff;
        box-shadow: 0px 2px 10px #333;
        width: 100%;
        height: 85vh;
        display: block;
    }
    .begin>.father>.float>button{
        width: 99px;
        height: 45px;
        outline: none;
        border: none;
    }
    .begin>.father>.box>.inputs>form>.what-3>.wela{
        margin-left: 13vw;
    }
    .begin>.father>.box>.inputs>form>.what-3>.todo{
        margin-left: 13vw;
        display: flex;
        flex-wrap: wrap;
    }
    .begin>.box>.inputs>form>.what-3>.todo>select{
        gap: 0px;
        width: 50px;
        height: 40px;
        outline: none;
    }
    .begin>.father>.box>.inputs>form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap: 2vw;
        margin-top: 3vh;
        margin-left: -5vw;
    }
    .begin>.box>.inputs>form>.what{
        line-height: 30px;
    }
    .begin>.box>.inputs>form>.what>select{
      width: 200px;
      height: 40px;
    }
    .begin>.box>.inputs>form>.what-1>input{
        width: 200px;
        height: 40px;
        outline: none;
    }
    .begin>.box>.inputs>form>.what-2{
        line-height: 30px;
    }
    .begin>.box>.inputs>form>.what-2>select{
        width: 200px;
        height: 40px;
    }
    .begin>.box>.inputs>form>.what-3>.todo>input{
        width: 200px;
        height: 40px;
        outline: none;
    }
    .begin>.box>.inputs>form>.what-3>.todo>select{
        margin-top: 0.75vh;
        width: 50px;
        height: 40px;
        outline: none;
    }
    .begin>.box>.inputs>form>.submit>button{
        margin-top: 4vh;
        background-color: #004d42;
        width: 170px;
        height: 40px;
        border: 1px solid transparent;
        color:#fff;
        border-radius: 5px;
        transition: all 0.5 ease-out;
    }
    .begin>.box>.inputs>form>.submit>button:hover{
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }
    .begin-1{
        position: relative;
        height: 300vh;
    }
    .begin-1>.troe{
        position: absolute;
        top: 10vh;
        left: 5vw;
        background-color: #000;
        width: 90%;
        height: 6.5vh;
        border: 1px solid black;
        border-radius: 5px;
    }
    .begin-1>.troe>h3{
        margin-top: 0vh;
        color: #fff;
        text-indent: 1.5vw;
    }
    .begin-1>.bre-main{
    position: absolute;
    top: 35vh;
    left: 6vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    justify-content: center;
    }
    .begin-1>.bre-main>.bre-1{
        background-color: #f8f8f8;
        width: 320px;
        height: 400px;
        border: 1px solid gainsboro;
        border-radius: 5px;
    }
    .begin-1>.bre-main>.bre-1>img{
        width: 320px;
        height: 300px;
    }
    .begin-1>.bre-main>.bre-1>p{
        font-size: 14px;
        text-indent: 10px;
    }
    .begin-1>.bre-main>.bre-1>h6{
        color: #004d42;
        margin-top: 0.5vh;
        text-indent: 10px;
        font-size: 18px;
    }
    .begin-1>a>button{
        position: absolute;
        top: 280vh;
        left: 18vw;
        width: 200px;
        height: 40px;
        background-color: #004d42;
        color: #fff;
        border: 1px solid transparent;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s ease-out;
    }
    .begin-1>a>button:hover{
        background-color: #000;
    }
    .purchase{
        position: relative;
        height: 190vh;
        background-image: linear-gradient(rgba(35,100,92,1) , rgba(35,100,92,0.5)) , url(images/contactus.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .purchase>.moon{
        position: absolute;
    }
    .purchase>.moon>.head{
        margin-top: 5vh;
        margin-left: 5vw;
        color: #ffff;
    }
    .purchase>.moon>.head>h1{
        font-size: 20px;
    }
    .purchase>.moon>.box-1{
        position: absolute;
        top: 23vh;
        left: 5vw;
        width: 90vw;
        height: 140vh;
        background-color: #fff;
    }
    .purchase>.moon>.box-1>.inputs-1{
        margin-top: 5vh;
        margin-left: 13vw;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .purchase>.moon>.box-1>.inputs-1>form{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .purchase>.moon>.box-1>.inputs-1>form>.sumbit{
        margin-top: 3vh;
        margin-left: 0vw;
        border-radius: 10px;
        background-color: #004d42;
        color: #fff;
        transition: all 0.5s ease-out;
        border: 1px solid transparent;
        cursor: pointer;
    }
    .purchase>.moon>.box-1>.inputs-1>form>.sumbit:hover{
        background-color: #000;
    }
    .purchase>.moon>.box-1>.inputs-1>form>input{
        width: 230px;
        height: 50px;
        outline: none;
        text-indent: 10px;
    }
    .purchase>.moon>.box-1>.inputs-1>form>select{
        width: 230px;
        height: 50px;
        z-index: 1;
    }
    .footer{
        position: relative;
        height: 250vh;
        background-color: #004d42;
    }
    .footer>.extract{
        position: absolute;
        top: 5vh;
       left: 7vw;
        display: flex;
        flex-direction: column;
        gap: 55vh;
    }
    .footer>.extract>.quick-links>ul{
        list-style: none;
        line-height: 40px;
    }
    .footer>.extract>.quick-links>ul>li>a{
        text-decoration: none;
        color: #fff;
    }
    .footer>.extract>.social>ul{
        list-style: none;
        line-height: 40px;
    }
    .footer>.extract>.social>ul>li>a{
        text-decoration: none;
        color: #fff;
    }
    .footer>.extract>.top{
        margin-top: -10vh;
        margin-left: -2vw;
    }
    .footer>.extract>.top>ul{
        list-style: none;
        line-height: 40px;
    }
    .footer>.extract>.top>ul>li>a{
        text-decoration: none;
        color: #fff;
    }
    .footer>.extract>.location{
        margin-top: 10vh;
    }
    .footer>.extract>.location>ul{
        list-style: none;
        line-height: 40px;
    }
    .footer>.extract>.location>ul>li>a{
        text-decoration: none;
        color: #fff;
    }
    .footer>.footer-imp{
        position: absolute;
        top: 240vh;
        background-color: #000;
        height: 9.75vh;
        width: 100%;
    }
    .footer>.footer-imp>p{
        margin-top: 2vh;
        text-align: center;
        color: #ffff;
    }
}

          /*---------------425px ki screen pai aise nazar aye gi website-------------------*/
          @media (min-width: 376px) and (max-width: 425px){
            #loading-screen {
                position: fixed;
                width: 100%;
                height: 100%;
                background: #000; /* Background color for the loading screen */
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 9999; /* Ensure it appears on top of your content */
            }
            
            .loading-animation {
                text-align: center;
                color: #fff;
            }
            .loading-animation>.tree{
              margin-left: -2vw;
            }
            .loading-animation>.flower{
                margin-left: -2vw;
            }
            .loading-animation>.tree,.flower,.fruit{
                font-size: 16px;
            }
            .loading-animation>.flower{
            font-size: 17px;
            }
            .loading-animation>.tree,.flower,.fruit{
                animation-name: sohaib;
                animation-duration: 3s;
                animation-delay: 0.5s;
                animation-iteration-count: infinite;
            }
            @keyframes sohaib{
                0%{
                    transform: scale(1.4);
                }
                25%{
                    transform: scale(1.1);
                }
                75%{
                    transform: scale(1.3);
                }
                100%{
                    transform: scale(1.2);
                }
            }
            .popup {
                display: none;
                position: fixed;
                top: -12vh;
                left: 0vw;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                z-index: 1000;
            }    
            .popup-content {
                background-color: #fff;
                width: 85%;
                max-width: 320px;
                margin: 100px auto;
                margin-left: 12vw;
                padding: 20px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                position: relative;
            }
            header>.unorder-list{
                display: none;
            }
            header>.fa-bars{
                display: block;
                cursor: pointer;
                margin-left: 35vw;
            }
            header>.fa-times{
                cursor: pointer;
                margin-left: 35vw;
            }
            header{
                position: absolute;
                width: 100%;
                height: 13vh;
                top: 0;
                left: 0;
                display: flex;
                gap: 1vw;
                align-items: center;
                transition: 0.6s;    
                z-index: 999;
                border-bottom: 1px solid gainsboro;
                background-color: #004d42;
            }
            .header-2{
                position: absolute;
                top: 10vh;
                left: -3vw;
                display: flex;
                gap: 10vw;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-bottom: none;
                font-size: 20px;
                z-index: 1;
                background-color: transparent;
            }
            .header-2>a>.foto{
                margin-top: 1.75vh;
                width: 20px;
            }
            .begin{
                position: relative;
                height: 190vh;
                width:100%;
                background-image: linear-gradient(rgba(0,0,0,.5) , rgba(0,0,0,.75)) , url(images/main-background.jpg);
                background-size: cover;
                background-position: center center;
            }
            .begin>.father{
                position: absolute;
                top: 20vh;
                left: 10vw;
            }
            .begin>.father>.heading{
                margin-left: 2vw;
            }
            .begin>.father>.heading>h1{
                font-size: 25px;
                color: #fff;
                margin-left: 10vw;
            }
            .begin>.father>.heading>h2{
                font-size: 24px;
                color: #fff;
                margin-left: 1vw;
                letter-spacing: 0.75px;
            }
            .begin>.father>.float{
                margin-left: -2vw;
                display: flex;
                flex-wrap: wrap;
                gap: 1vw;
                align-items: center;
                justify-content: center;
            }
            .begin>.father>.box{
                margin-left: -1vw;
                background-color: #fff;
                box-shadow: 0px 2px 10px #333;
                width: 100%;
                height: 85vh;
                display: block;
            }
            .begin>.father>.float>button{
                width: 111px;
                height: 45px;
                outline: none;
                border: none;
            }
            .begin>.father>.box>.inputs>form>.what-3>.wela{
                margin-left: 13vw;
            }
            .begin>.father>.box>.inputs>form>.what-3>.todo{
                margin-left: 13vw;
                display: flex;
                flex-wrap: wrap;
            }
            .begin>.box>.inputs>form>.what-3>.todo>select{
                gap: 0px;
                width: 50px;
                height: 40px;
                outline: none;
            }
            .begin>.father>.box>.inputs>form{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                gap: 2vw;
                margin-top: 3vh;
                margin-left: -5vw;
            }
            .begin>.box>.inputs>form>.what{
                line-height: 30px;
            }
            .begin>.box>.inputs>form>.what>select{
              width: 200px;
              height: 40px;
            }
            .begin>.box>.inputs>form>.what-1>input{
                width: 200px;
                height: 40px;
                outline: none;
            }
            .begin>.box>.inputs>form>.what-2{
                line-height: 30px;
            }
            .begin>.box>.inputs>form>.what-2>select{
                width: 200px;
                height: 40px;
            }
            .begin>.box>.inputs>form>.what-3>.todo>input{
                width: 200px;
                height: 40px;
                outline: none;
            }
            .begin>.box>.inputs>form>.what-3>.todo>select{
                margin-top: 0.75vh;
                width: 50px;
                height: 40px;
                outline: none;
            }
            .begin>.box>.inputs>form>.submit>button{
                margin-top: 4vh;
                background-color: #004d42;
                width: 170px;
                height: 40px;
                border: 1px solid transparent;
                color:#fff;
                border-radius: 5px;
                transition: all 0.5 ease-out;
            }
            .begin>.box>.inputs>form>.submit>button:hover{
                background-color: #000;
                color: #fff;
                cursor: pointer;
            }
            .begin-1{
                position: relative;
                height: 300vh;
            }
            .begin-1>.troe{
                position: absolute;
                top: 10vh;
                left: 5vw;
                background-color: #000;
                width: 90%;
                height: 6.5vh;
                border: 1px solid black;
                border-radius: 5px;
            }
            .begin-1>.troe>h3{
                margin-top: 0vh;
                color: #fff;
                text-indent: 1.5vw;
            }
            .begin-1>.bre-main{
            position: absolute;
            top: 32vh;
            left: 4vw;
            display: flex;
            flex-direction: column;
            gap: 5vh;
            align-items: center;
            justify-content: center;
            }
            .begin-1>.bre-main>.bre-1{
                background-color: #f8f8f8;
                width: 380px;
                height: 400px;
                border: 1px solid gainsboro;
                border-radius: 5px;
            }
            .begin-1>.bre-main>.bre-1>img{
                width: 380px;
                height: 300px;
            }
            .begin-1>.bre-main>.bre-1>p{
                font-size: 14px;
                text-indent: 10px;
            }
            .begin-1>.bre-main>.bre-1>h6{
                color: #004d42;
                margin-top: 0.5vh;
                text-indent: 10px;
                font-size: 18px;
            }
            .begin-1>a>button{
                position: absolute;
                top: 280vh;
                left: 22vw;
                width: 200px;
                height: 40px;
                background-color: #004d42;
                color: #fff;
                border: 1px solid transparent;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.5s ease-out;
            }
            .begin-1>a>button:hover{
                background-color: #000;
            }
            .purchase{
                position: relative;
                height: 190vh;
                background-image: linear-gradient(rgba(35,100,92,1) , rgba(35,100,92,0.5)) , url(images/contactus.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            .purchase>.moon{
                position: absolute;
            }
            .purchase>.moon>.head{
                margin-top: 5vh;
                margin-left: 5vw;
                color: #ffff;
            }
            .purchase>.moon>.head>h1{
                font-size: 20px;
            }
            .purchase>.moon>.box-1{
                position: absolute;
                top: 23vh;
                left: 5vw;
                width: 90vw;
                height: 140vh;
                background-color: #fff;
            }
            .purchase>.moon>.box-1>.inputs-1{
                margin-top: 5vh;
                margin-left: 12vw;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px;
            }
            .purchase>.moon>.box-1>.inputs-1>form{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px;
            }
            .purchase>.moon>.box-1>.inputs-1>form>.sumbit{
                margin-top: 3vh;
                margin-left: 0vw;
                border-radius: 10px;
                background-color: #004d42;
                color: #fff;
                transition: all 0.5s ease-out;
                border: 1px solid transparent;
                cursor: pointer;
            }
            .purchase>.moon>.box-1>.inputs-1>form>.sumbit:hover{
                background-color: #000;
            }
            .purchase>.moon>.box-1>.inputs-1>form>input{
                width: 270px;
                height: 50px;
                outline: none;
                text-indent: 10px;
            }
            .purchase>.moon>.box-1>.inputs-1>form>select{
                width: 270px;
                height: 50px;
                z-index: 1;
            }
            .footer{
                position: relative;
                height: 230vh;
                background-color: #004d42;
            }
            .footer>.extract{
                position: absolute;
                top: 5vh;
               left: 7vw;
                display: flex;
                flex-direction: column;
                gap: 50vh;
            }
            .footer>.extract>.quick-links>ul{
                list-style: none;
                line-height: 40px;
            }
            .footer>.extract>.quick-links>ul>li>a{
                text-decoration: none;
                color: #fff;
            }
            .footer>.extract>.social>ul{
                list-style: none;
                line-height: 40px;
            }
            .footer>.extract>.social>ul>li>a{
                text-decoration: none;
                color: #fff;
            }
            .footer>.extract>.top{
                margin-top: -10vh;
                margin-left: -2vw;
            }
            .footer>.extract>.top>ul{
                list-style: none;
                line-height: 40px;
            }
            .footer>.extract>.top>ul>li>a{
                text-decoration: none;
                color: #fff;
            }
            .footer>.extract>.location{
                margin-top: 10vh;
            }
            .footer>.extract>.location>ul{
                list-style: none;
                line-height: 40px;
            }
            .footer>.extract>.location>ul>li>a{
                text-decoration: none;
                color: #fff;
            }
            .footer>.footer-imp{
                position: absolute;
                top: 220vh;
                background-color: #000;
                height: 9.75vh;
                width: 100%;
            }
            .footer>.footer-imp>p{
                margin-top: 2vh;
                text-align: center;
                color: #ffff;
            }
        }

        /*------------Agr max width 426-480 hogi to aisa nazar aye ga---------------*/      
        @media (min-width: 426px) and (max-width: 480px){
            #loading-screen {
                position: fixed;
                width: 100%;
                height: 100%;
                background: #000; /* Background color for the loading screen */
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 9999; /* Ensure it appears on top of your content */
            }
            
            .loading-animation {
                text-align: center;
                color: #fff;
            }
            .loading-animation>.tree{
              margin-left: -2vw;
            }
            .loading-animation>.flower{
                margin-left: -2vw;
            }
            .loading-animation>.tree,.flower,.fruit{
                font-size: 16px;
            }
            .loading-animation>.flower{
            font-size: 17px;
            }
            .loading-animation>.tree,.flower,.fruit{
                animation-name: sohaib;
                animation-duration: 3s;
                animation-delay: 0.5s;
                animation-iteration-count: infinite;
            }
            @keyframes sohaib{
                0%{
                    transform: scale(1.4);
                }
                25%{
                    transform: scale(1.1);
                }
                75%{
                    transform: scale(1.3);
                }
                100%{
                    transform: scale(1.2);
                }
            }
            .popup {
                display: none;
                position: fixed;
                top: -12vh;
                left: 0vw;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                z-index: 1000;
            }    
            .popup-content {
                background-color: #fff;
                width: 85%;
                max-width: 320px;
                margin: 100px auto;
                margin-left: 12vw;
                padding: 20px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                position: relative;
            }
            header>.unorder-list{
                display: none;
            }
            header>.fa-bars{
                display: block;
                cursor: pointer;
                margin-left: 35vw;
            }
            header>.fa-times{
                cursor: pointer;
                margin-left: 35vw;
            }
            header{
                position: absolute;
                width: 100%;
                height: 13vh;
                top: 0;
                left: 0;
                display: flex;
                gap: 1vw;
                align-items: center;
                transition: 0.6s;    
                z-index: 999;
                border-bottom: 1px solid gainsboro;
                background-color: #004d42;
            }
            .header-2{
                position: absolute;
                top: 10vh;
                left: -3vw;
                display: flex;
                gap: 10vw;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border-bottom: none;
                font-size: 20px;
                z-index: 1;
                background-color: transparent;
            }
            .header-2>a>.foto{
                margin-top: 1.75vh;
                width: 20px;
            }
            .begin{
                position: relative;
                height: 190vh;
                width:100%;
                background-image: linear-gradient(rgba(0,0,0,.5) , rgba(0,0,0,.75)) , url(images/main-background.jpg);
                background-size: cover;
                background-position: center center;
            }
            .begin>.father{
                position: absolute;
                top: 20vh;
                left: 10vw;
            }
            .begin>.father>.heading{
                margin-left: 2vw;
            }
            .begin>.father>.heading>h1{
                font-size: 25px;
                color: #fff;
                margin-left: 10vw;
            }
            .begin>.father>.heading>h2{
                font-size: 24px;
                color: #fff;
                margin-left: 1vw;
                letter-spacing: 0.75px;
            }
            .begin>.father>.float{
                margin-left: -2vw;
                display: flex;
                flex-wrap: wrap;
                gap: 1vw;
                align-items: center;
                justify-content: center;
            }
            .begin>.father>.box{
                margin-left: -1vw;
                background-color: #fff;
                box-shadow: 0px 2px 10px #333;
                width: 100%;
                height: 85vh;
                display: block;
            }
            .begin>.father>.float>button{
                width: 111px;
                height: 45px;
                outline: none;
                border: none;
            }
            .begin>.father>.box>.inputs>form>.what-3>.wela{
                margin-left: 13vw;
            }
            .begin>.father>.box>.inputs>form>.what-3>.todo{
                margin-left: 13vw;
                display: flex;
                flex-wrap: wrap;
            }
            .begin>.box>.inputs>form>.what-3>.todo>select{
                gap: 0px;
                width: 50px;
                height: 40px;
                outline: none;
            }
            .begin>.father>.box>.inputs>form{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                gap: 2vw;
                margin-top: 3vh;
                margin-left: -5vw;
            }
            .begin>.box>.inputs>form>.what{
                line-height: 30px;
            }
            .begin>.box>.inputs>form>.what>select{
              width: 200px;
              height: 40px;
            }
            .begin>.box>.inputs>form>.what-1>input{
                width: 200px;
                height: 40px;
                outline: none;
            }
            .begin>.box>.inputs>form>.what-2{
                line-height: 30px;
            }
            .begin>.box>.inputs>form>.what-2>select{
                width: 200px;
                height: 40px;
            }
            .begin>.box>.inputs>form>.what-3>.todo>input{
                width: 200px;
                height: 40px;
                outline: none;
            }
            .begin>.box>.inputs>form>.what-3>.todo>select{
                margin-top: 0.75vh;
                width: 50px;
                height: 40px;
                outline: none;
            }
            .begin>.box>.inputs>form>.submit>button{
                margin-top: 4vh;
                background-color: #004d42;
                width: 170px;
                height: 40px;
                border: 1px solid transparent;
                color:#fff;
                border-radius: 5px;
                transition: all 0.5 ease-out;
            }
            .begin>.box>.inputs>form>.submit>button:hover{
                background-color: #000;
                color: #fff;
                cursor: pointer;
            }
            .begin-1{
                position: relative;
                height: 300vh;
            }
            .begin-1>.troe{
                position: absolute;
                top: 10vh;
                left: 5vw;
                background-color: #000;
                width: 90%;
                height: 6.5vh;
                border: 1px solid black;
                border-radius: 5px;
            }
            .begin-1>.troe>h3{
                margin-top: 0vh;
                color: #fff;
                text-indent: 1.5vw;
            }
            .begin-1>.bre-main{
            position: absolute;
            top: 32vh;
            left: 4vw;
            display: flex;
            flex-direction: column;
            gap: 5vh;
            align-items: center;
            justify-content: center;
            }
            .begin-1>.bre-main>.bre-1{
                background-color: #f8f8f8;
                width: 380px;
                height: 400px;
                border: 1px solid gainsboro;
                border-radius: 5px;
            }
            .begin-1>.bre-main>.bre-1>img{
                width: 380px;
                height: 300px;
            }
            .begin-1>.bre-main>.bre-1>p{
                font-size: 14px;
                text-indent: 10px;
            }
            .begin-1>.bre-main>.bre-1>h6{
                color: #004d42;
                margin-top: 0.5vh;
                text-indent: 10px;
                font-size: 18px;
            }
            .begin-1>a>button{
                position: absolute;
                top: 280vh;
                left: 22vw;
                width: 200px;
                height: 40px;
                background-color: #004d42;
                color: #fff;
                border: 1px solid transparent;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.5s ease-out;
            }
            .begin-1>a>button:hover{
                background-color: #000;
            }
            .purchase{
                position: relative;
                height: 190vh;
                background-image: linear-gradient(rgba(35,100,92,1) , rgba(35,100,92,0.5)) , url(images/contactus.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            .purchase>.moon{
                position: absolute;
            }
            .purchase>.moon>.head{
                margin-top: 5vh;
                margin-left: 5vw;
                color: #ffff;
            }
            .purchase>.moon>.head>h1{
                font-size: 20px;
            }
            .purchase>.moon>.box-1{
                position: absolute;
                top: 23vh;
                left: 5vw;
                width: 90vw;
                height: 140vh;
                background-color: #fff;
            }
            .purchase>.moon>.box-1>.inputs-1{
                margin-top: 5vh;
                margin-left: 12vw;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px;
            }
            .purchase>.moon>.box-1>.inputs-1>form{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px;
            }
            .purchase>.moon>.box-1>.inputs-1>form>.sumbit{
                margin-top: 3vh;
                margin-left: 0vw;
                border-radius: 10px;
                background-color: #004d42;
                color: #fff;
                transition: all 0.5s ease-out;
                border: 1px solid transparent;
                cursor: pointer;
            }
            .purchase>.moon>.box-1>.inputs-1>form>.sumbit:hover{
                background-color: #000;
            }
            .purchase>.moon>.box-1>.inputs-1>form>input{
                width: 270px;
                height: 50px;
                outline: none;
                text-indent: 10px;
            }
            .purchase>.moon>.box-1>.inputs-1>form>select{
                width: 270px;
                height: 50px;
                z-index: 1;
            }
            .footer{
                position: relative;
                height: 230vh;
                background-color: #004d42;
            }
            .footer>.extract{
                position: absolute;
                top: 5vh;
               left: 7vw;
                display: flex;
                flex-direction: column;
                gap: 50vh;
            }
            .footer>.extract>.quick-links>ul{
                list-style: none;
                line-height: 40px;
            }
            .footer>.extract>.quick-links>ul>li>a{
                text-decoration: none;
                color: #fff;
            }
            .footer>.extract>.social>ul{
                list-style: none;
                line-height: 40px;
            }
            .footer>.extract>.social>ul>li>a{
                text-decoration: none;
                color: #fff;
            }
            .footer>.extract>.top{
                margin-top: -10vh;
                margin-left: -2vw;
            }
            .footer>.extract>.top>ul{
                list-style: none;
                line-height: 40px;
            }
            .footer>.extract>.top>ul>li>a{
                text-decoration: none;
                color: #fff;
            }
            .footer>.extract>.location{
                margin-top: 10vh;
            }
            .footer>.extract>.location>ul{
                list-style: none;
                line-height: 40px;
            }
            .footer>.extract>.location>ul>li>a{
                text-decoration: none;
                color: #fff;
            }
            .footer>.footer-imp{
                position: absolute;
                top: 220vh;
                background-color: #000;
                height: 9.75vh;
                width: 100%;
            }
            .footer>.footer-imp>p{
                margin-top: 2vh;
                text-align: center;
                color: #ffff;
            }
        } 