@media (max-width:320px){
    header>.unorder-list{
        display: none;
    }
header>.fa-bars{
    display: block;
    cursor: pointer;
    margin-left: 35vw;
}
header>.fa-times{
    cursor: pointer;
    margin-left: 35vw;
}
header{
    position: absolute;
    width: 100%;
    height: 13vh;
    top: 0;
    left: 0;
    display: flex;
    gap: 1vw;
    align-items: center;
    transition: 0.6s;    
    z-index: 100000;
    border-bottom: 1px solid gainsboro;
    background-color: #004d42;
}
header>.order-list{
    display: none;
}
.content{
    position: relative;
    height: 530vh;
}
.content>.content-start{
    position: absolute;
    top: 5vh;
    left: 5vw;
}
.footer{
    position: relative;
    height: 250vh;
    background-color: #004d42;
}
.footer>.extract{
    position: absolute;
    top: 5vh;
   left: 7vw;
    display: flex;
    flex-direction: column;
    gap: 55vh;
}
.footer>.extract>.quick-links>ul{
    list-style: none;
    line-height: 40px;
}
.footer>.extract>.quick-links>ul>li>a{
    text-decoration: none;
    color: #fff;
}
.footer>.extract>.social>ul{
    list-style: none;
    line-height: 40px;
}
.footer>.extract>.social>ul>li>a{
    text-decoration: none;
    color: #fff;
}
.footer>.extract>.top{
    margin-top: -10vh;
}
.footer>.extract>.top>h1{
    font-size: 22px;
}
.footer>.extract>.top>ul{
    list-style: none;
    line-height: 40px;
}
.footer>.extract>.top>ul>li>a{
    text-decoration: none;
    color: #fff;
}
.footer>.extract>.location{
    margin-top: 10vh;
}
.footer>.extract>.location>ul{
    list-style: none;
    line-height: 40px;
}
.footer>.extract>.location>ul>li>a{
    text-decoration: none;
    color: #fff;
}
.footer>.footer-imp{
    position: absolute;
    top: 240vh;
    background-color: #000;
    height: 9.75vh;
    width: 100%;
}
.footer>.footer-imp>p{
    margin-top: 0vh;
    text-align: center;
    color: #ffff;
}
}


             /*-----------------Max width 375 par screen aise hogi-------------------*/
             @media (min-width:321px) and (max-width:375px){
                header>.unorder-list{
                    display: none;
                }
            header>.fa-bars{
                display: block;
                cursor: pointer;
                margin-left: 35vw;
            }
            header>.fa-times{
                cursor: pointer;
                margin-left: 35vw;
            }
            header{
                position: absolute;
                width: 100%;
                height: 13vh;
                top: 0;
                left: 0;
                display: flex;
                gap: 1vw;
                align-items: center;
                transition: 0.6s;    
                z-index: 100000;
                border-bottom: 1px solid gainsboro;
                background-color: #004d42;
            }
            header>.order-list{
                display: none;
            }
            .content{
                position: relative;
                height: 470vh;
            }
            .content>.content-start{
                position: absolute;
                top: 5vh;
                left: 5vw;
            }
            .footer{
                position: relative;
                height: 250vh;
                background-color: #004d42;
            }
            .footer>.extract{
                position: absolute;
                top: 5vh;
               left: 7vw;
                display: flex;
                flex-direction: column;
                gap: 55vh;
            }
            .footer>.extract>.quick-links>ul{
                list-style: none;
                line-height: 40px;
            }
            .footer>.extract>.quick-links>ul>li>a{
                text-decoration: none;
                color: #fff;
            }
            .footer>.extract>.social>ul{
                list-style: none;
                line-height: 40px;
            }
            .footer>.extract>.social>ul>li>a{
                text-decoration: none;
                color: #fff;
            }
            .footer>.extract>.top{
                margin-top: -10vh;
            }
            .footer>.extract>.top>h1{
                font-size: 22px;
            }
            .footer>.extract>.top>ul{
                list-style: none;
                line-height: 40px;
            }
            .footer>.extract>.top>ul>li>a{
                text-decoration: none;
                color: #fff;
            }
            .footer>.extract>.location{
                margin-top: 10vh;
            }
            .footer>.extract>.location>ul{
                list-style: none;
                line-height: 40px;
            }
            .footer>.extract>.location>ul>li>a{
                text-decoration: none;
                color: #fff;
            }
            .footer>.footer-imp{
                position: absolute;
                top: 240vh;
                background-color: #000;
                height: 9.75vh;
                width: 100%;
            }
            .footer>.footer-imp>p{
                margin-top: 0vh;
                text-align: center;
                color: #ffff;
            }
            }

               /*-----------Max width 425px pai aisa lagi screen------------------*/
               @media (min-width:376px) and (max-width:425px){
                header>.unorder-list{
                    display: none;
                }
            header>.fa-bars{
                display: block;
                cursor: pointer;
                margin-left: 35vw;
            }
            header>.fa-times{
                cursor: pointer;
                margin-left: 35vw;
            }
            header{
                position: absolute;
                width: 100%;
                height: 13vh;
                top: 0;
                left: 0;
                display: flex;
                gap: 1vw;
                align-items: center;
                transition: 0.6s;    
                z-index: 100000;
                border-bottom: 1px solid gainsboro;
                background-color: #004d42;
            }
            header>.order-list{
                display: none;
            }
            .content{
                position: relative;
                height: 440vh;
            }
            .content>.content-start{
                position: absolute;
                top: 5vh;
                left: 5vw;
            }
            .footer{
                position: relative;
                height: 250vh;
                background-color: #004d42;
            }
            .footer>.extract{
                position: absolute;
                top: 5vh;
               left: 7vw;
                display: flex;
                flex-direction: column;
                gap: 55vh;
            }
            .footer>.extract>.quick-links>ul{
                list-style: none;
                line-height: 40px;
            }
            .footer>.extract>.quick-links>ul>li>a{
                text-decoration: none;
                color: #fff;
            }
            .footer>.extract>.social>ul{
                list-style: none;
                line-height: 40px;
            }
            .footer>.extract>.social>ul>li>a{
                text-decoration: none;
                color: #fff;
            }
            .footer>.extract>.top{
                margin-top: -10vh;
            }
            .footer>.extract>.top>h1{
                font-size: 22px;
            }
            .footer>.extract>.top>ul{
                list-style: none;
                line-height: 40px;
            }
            .footer>.extract>.top>ul>li>a{
                text-decoration: none;
                color: #fff;
            }
            .footer>.extract>.location{
                margin-top: 10vh;
            }
            .footer>.extract>.location>ul{
                list-style: none;
                line-height: 40px;
            }
            .footer>.extract>.location>ul>li>a{
                text-decoration: none;
                color: #fff;
            }
            .footer>.footer-imp{
                position: absolute;
                top: 240vh;
                background-color: #000;
                height: 9.75vh;
                width: 100%;
            }
            .footer>.footer-imp>p{
                margin-top: 0vh;
                text-align: center;
                color: #ffff;
            }
            }


     /*------------------Agr width 426-480 hogi to ye hoga na bhai-----------------*/
     @media (min-width:426px) and (max-width:480px){
        header>.unorder-list{
            display: none;
        }
    header>.fa-bars{
        display: block;
        cursor: pointer;
        margin-left: 35vw;
    }
    header>.fa-times{
        cursor: pointer;
        margin-left: 35vw;
    }
    header{
        position: absolute;
        width: 100%;
        height: 13vh;
        top: 0;
        left: 0;
        display: flex;
        gap: 1vw;
        align-items: center;
        transition: 0.6s;    
        z-index: 100000;
        border-bottom: 1px solid gainsboro;
        background-color: #004d42;
    }
    header>.order-list{
        display: none;
    }
    .content{
        position: relative;
        height: 440vh;
    }
    .content>.content-start{
        position: absolute;
        top: 5vh;
        left: 5vw;
    }
    .footer{
        position: relative;
        height: 250vh;
        background-color: #004d42;
    }
    .footer>.extract{
        position: absolute;
        top: 5vh;
       left: 7vw;
        display: flex;
        flex-direction: column;
        gap: 55vh;
    }
    .footer>.extract>.quick-links>ul{
        list-style: none;
        line-height: 40px;
    }
    .footer>.extract>.quick-links>ul>li>a{
        text-decoration: none;
        color: #fff;
    }
    .footer>.extract>.social>ul{
        list-style: none;
        line-height: 40px;
    }
    .footer>.extract>.social>ul>li>a{
        text-decoration: none;
        color: #fff;
    }
    .footer>.extract>.top{
        margin-top: -10vh;
    }
    .footer>.extract>.top>h1{
        font-size: 22px;
    }
    .footer>.extract>.top>ul{
        list-style: none;
        line-height: 40px;
    }
    .footer>.extract>.top>ul>li>a{
        text-decoration: none;
        color: #fff;
    }
    .footer>.extract>.location{
        margin-top: 10vh;
    }
    .footer>.extract>.location>ul{
        list-style: none;
        line-height: 40px;
    }
    .footer>.extract>.location>ul>li>a{
        text-decoration: none;
        color: #fff;
    }
    .footer>.footer-imp{
        position: absolute;
        top: 240vh;
        background-color: #000;
        height: 9.75vh;
        width: 100%;
    }
    .footer>.footer-imp>p{
        margin-top: 0vh;
        text-align: center;
        color: #ffff;
    }
    }         