@media (max-width:320px){
    header>.unorder-list{
        display: none;
    }
header>.fa-bars{
    display: block;
    cursor: pointer;
    margin-left: 35vw;
}
header>.fa-times{
    cursor: pointer;
    margin-left: 35vw;
}
header{
    position: absolute;
    width: 100%;
    height: 13vh;
    top: 0;
    left: 0;
    display: flex;
    gap: 1vw;
    align-items: center;
    transition: 0.6s;    
    z-index: 100000;
    border-bottom: 1px solid gainsboro;
    background-color: #004d42;
}
header>.order-list{
    display: none;
}
header>.unorder-list{
    display: none;
}
.begin>.hor{
    position: absolute;
    top: 23vh;
    left: 5vw;
}
.begin>.hor>.heading>h2{
    color: #fff;
    cursor: pointer;
    font-size: 17px;
}
.begin>.hor>.heading>h1{
    color: #ffff;
    margin-left: 18vw;
    cursor: pointer;
}
.contact-us{
    position: relative;
    height: 150vh;
    background-color: rgba(241, 225, 241, 0.6);
}
.contact-us>.box{
    position: absolute;
    top: 10vh;
    left: 5vw;
    width: 90vw;
    height: 115vh;
    background-color: #fff;
}
.contact-us>.box>.box-start>h1{
    margin-top: 2vh;
    margin-left: 2vw;
    font-size: 18px;
}
.contact-us>.box>.box-start>p{
    margin-top: 1vh;
    margin-left: 2vw;
}
.contact-us>.box>.inputs{
    margin-top: 5vh;
    margin-left: 6vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.contact-us>.box>.inputs>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.contact-us>.box>.inputs>form>#text-aria{
    width: 240px;
    height: 80px;
}
.contact-us>.box>.inputs>form>.sumbit{
    border-radius: 10px;
    background-color: #004d42;
    color: #fff;
    transition: all 0.5s ease-out;
    border: 1px solid transparent;
    cursor: pointer;
}
.contact-us>.box>.inputs>form>.sumbit:hover{
    background-color: #000;
}
.contact-us>.box>.inputs>form>input{
    width: 240px;
    height: 50px;
    outline: none;
    text-indent: 10px;
}
.footer{
    position: relative;
    height: 250vh;
    background-color: #004d42;
}
.footer>.extract{
    position: absolute;
    top: 5vh;
   left: 7vw;
    display: flex;
    flex-direction: column;
    gap: 55vh;
}
.footer>.extract>.quick-links>ul{
    list-style: none;
    line-height: 40px;
}
.footer>.extract>.quick-links>ul>li>a{
    text-decoration: none;
    color: #fff;
}
.footer>.extract>.social>ul{
    list-style: none;
    line-height: 40px;
}
.footer>.extract>.social>ul>li>a{
    text-decoration: none;
    color: #fff;
}
.footer>.extract>.top{
    margin-top: -10vh;
    margin-left: -2vw;
}
.footer>.extract>.top>ul{
    list-style: none;
    line-height: 40px;
}
.footer>.extract>.top>ul>li>a{
    text-decoration: none;
    color: #fff;
}
.footer>.extract>.location{
    margin-top: 10vh;
}
.footer>.extract>.location>ul{
    list-style: none;
    line-height: 40px;
}
.footer>.extract>.location>ul>li>a{
    text-decoration: none;
    color: #fff;
}
.footer>.footer-imp{
    position: absolute;
    top: 240vh;
    background-color: #000;
    height: 9.75vh;
    width: 100%;
}
.footer>.footer-imp>p{
    margin-top: 0vh;
    text-align: center;
    color: #ffff;
}
}


         /*------------Max width 375 px par aise screen hogi----------------------*/
         @media (min-width:321px) and (max-width:375px){
            header>.unorder-list{
                display: none;
            }
        header>.fa-bars{
            display: block;
            cursor: pointer;
            margin-left: 35vw;
        }
        header>.fa-times{
            cursor: pointer;
            margin-left: 35vw;
        }
        header{
            position: absolute;
            width: 100%;
            height: 13vh;
            top: 0;
            left: 0;
            display: flex;
            gap: 1vw;
            align-items: center;
            transition: 0.6s;    
            z-index: 100000;
            border-bottom: 1px solid gainsboro;
            background-color: #004d42;
        }
        header>.order-list{
            display: none;
        }
        header>.unorder-list{
            display: none;
        }
        .begin>.hor{
            position: absolute;
            top: 23vh;
            left: 5vw;
        }
        .begin>.hor>.heading>h2{
            color: #fff;
            cursor: pointer;
            font-size: 17px;
            margin-left: 4vw;
        }
        .begin>.hor>.heading>h1{
            color: #ffff;
            margin-left: 18vw;
            cursor: pointer;
        }
        .contact-us{
            position: relative;
            height: 150vh;
            background-color: rgba(241, 225, 241, 0.6);
        }
        .contact-us>.box{
            position: absolute;
            top: 10vh;
            left: 5vw;
            width: 90vw;
            height: 115vh;
            background-color: #fff;
        }
        .contact-us>.box>.box-start>h1{
            margin-top: 2vh;
            margin-left: 3.5vw;
            font-size: 18px;
        }
        .contact-us>.box>.box-start>p{
            margin-top: 1vh;
            margin-left: 3.5vw;
        }
        .contact-us>.box>.inputs{
            margin-top: 5vh;
            margin-left: 7vw;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
        }
        .contact-us>.box>.inputs>form{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
        }
        .contact-us>.box>.inputs>form>#text-aria{
            width: 260px;
            height: 80px;
        }
        .contact-us>.box>.inputs>form>.sumbit{
            border-radius: 10px;
            background-color: #004d42;
            color: #fff;
            transition: all 0.5s ease-out;
            border: 1px solid transparent;
            cursor: pointer;
        }
        .contact-us>.box>.inputs>form>.sumbit:hover{
            background-color: #000;
        }
        .contact-us>.box>.inputs>form>input{
            width: 260px;
            height: 50px;
            outline: none;
            text-indent: 10px;
        }
        .footer{
            position: relative;
            height: 250vh;
            background-color: #004d42;
        }
        .footer>.extract{
            position: absolute;
            top: 5vh;
           left: 7vw;
            display: flex;
            flex-direction: column;
            gap: 55vh;
        }
        .footer>.extract>.quick-links>ul{
            list-style: none;
            line-height: 40px;
        }
        .footer>.extract>.quick-links>ul>li>a{
            text-decoration: none;
            color: #fff;
        }
        .footer>.extract>.social>ul{
            list-style: none;
            line-height: 40px;
        }
        .footer>.extract>.social>ul>li>a{
            text-decoration: none;
            color: #fff;
        }
        .footer>.extract>.top{
            margin-top: -10vh;
            margin-left: -2vw;
        }
        .footer>.extract>.top>ul{
            list-style: none;
            line-height: 40px;
        }
        .footer>.extract>.top>ul>li>a{
            text-decoration: none;
            color: #fff;
        }
        .footer>.extract>.location{
            margin-top: 10vh;
        }
        .footer>.extract>.location>ul{
            list-style: none;
            line-height: 40px;
        }
        .footer>.extract>.location>ul>li>a{
            text-decoration: none;
            color: #fff;
        }
        .footer>.footer-imp{
            position: absolute;
            top: 240vh;
            background-color: #000;
            height: 9.75vh;
            width: 100%;
        }
        .footer>.footer-imp>p{
            margin-top: 2vh;
            text-align: center;
            color: #ffff;
        }
        }
                 /*agr max width 425 px ho to screen aisai lagi gi-----------------------*/
                 @media (min-width:376px) and (max-width:425px){
                    header>.unorder-list{
                        display: none;
                    }
                header>.fa-bars{
                    display: block;
                    cursor: pointer;
                    margin-left: 35vw;
                }
                header>.fa-times{
                    cursor: pointer;
                    margin-left: 35vw;
                }
                header{
                    position: absolute;
                    width: 100%;
                    height: 13vh;
                    top: 0;
                    left: 0;
                    display: flex;
                    gap: 1vw;
                    align-items: center;
                    transition: 0.6s;    
                    z-index: 100000;
                    border-bottom: 1px solid gainsboro;
                    background-color: #004d42;
                }
                header>.order-list{
                    display: none;
                }
                header>.unorder-list{
                    display: none;
                }
                .begin>.hor{
                    position: absolute;
                    top: 23vh;
                    left: 5vw;
                }
                .begin>.hor>.heading>h2{
                    color: #fff;
                    cursor: pointer;
                    font-size: 17px;
                    margin-left: 5vw;
                }
                .begin>.hor>.heading>h1{
                    color: #ffff;
                    margin-left: 18vw;
                    cursor: pointer;
                }
                .contact-us{
                    position: relative;
                    height: 150vh;
                    background-color: rgba(241, 225, 241, 0.6);
                }
                .contact-us>.box{
                    position: absolute;
                    top: 12vh;
                    left: 5vw;
                    width: 90vw;
                    height: 115vh;
                    background-color: #fff;
                }
                .contact-us>.box>.box-start>h1{
                    margin-top: 2vh;
                    margin-left: 3.5vw;
                    font-size: 18px;
                }
                .contact-us>.box>.box-start>p{
                    margin-top: 1vh;
                    margin-left: 3.5vw;
                }
                .contact-us>.box>.inputs{
                    margin-top: 5vh;
                    margin-left: 7vw;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 20px;
                }
                .contact-us>.box>.inputs>form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 20px;
                }
                .contact-us>.box>.inputs>form>#text-aria{
                    width: 280px;
                    height: 80px;
                }
                .contact-us>.box>.inputs>form>.sumbit{
                    border-radius: 10px;
                    background-color: #004d42;
                    color: #fff;
                    transition: all 0.5s ease-out;
                    border: 1px solid transparent;
                    cursor: pointer;
                }
                .contact-us>.box>.inputs>form>.sumbit:hover{
                    background-color: #000;
                }
                .contact-us>.box>.inputs>form>input{
                    width: 280px;
                    height: 50px;
                    outline: none;
                    text-indent: 10px;
                }
                .footer{
                    position: relative;
                    height: 230vh;
                    background-color: #004d42;
                }
                .footer>.extract{
                    position: absolute;
                    top: 5vh;
                   left: 7vw;
                    display: flex;
                    flex-direction: column;
                    gap: 50vh;
                }
                .footer>.extract>.quick-links>ul{
                    list-style: none;
                    line-height: 40px;
                }
                .footer>.extract>.quick-links>ul>li>a{
                    text-decoration: none;
                    color: #fff;
                }
                .footer>.extract>.social>ul{
                    list-style: none;
                    line-height: 40px;
                }
                .footer>.extract>.social>ul>li>a{
                    text-decoration: none;
                    color: #fff;
                }
                .footer>.extract>.top{
                    margin-top: -10vh;
                    margin-left: -2vw;
                }
                .footer>.extract>.top>ul{
                    list-style: none;
                    line-height: 40px;
                }
                .footer>.extract>.top>ul>li>a{
                    text-decoration: none;
                    color: #fff;
                }
                .footer>.extract>.location{
                    margin-top: 10vh;
                }
                .footer>.extract>.location>ul{
                    list-style: none;
                    line-height: 40px;
                }
                .footer>.extract>.location>ul>li>a{
                    text-decoration: none;
                    color: #fff;
                }
                .footer>.footer-imp{
                    position: absolute;
                    top: 220vh;
                    background-color: #000;
                    height: 9.75vh;
                    width: 100%;
                }
                .footer>.footer-imp>p{
                    margin-top: 2vh;
                    text-align: center;
                    color: #ffff;
                }
                }
       /*----------------------Agr screen itni hogi kitni bhala 426-480px to ye to hoga naa--------------*/
       @media (min-width:426px) and (max-width:480px){
        header>.unorder-list{
            display: none;
        }
    header>.fa-bars{
        display: block;
        cursor: pointer;
        margin-left: 35vw;
    }
    header>.fa-times{
        cursor: pointer;
        margin-left: 35vw;
    }
    header{
        position: absolute;
        width: 100%;
        height: 13vh;
        top: 0;
        left: 0;
        display: flex;
        gap: 1vw;
        align-items: center;
        transition: 0.6s;    
        z-index: 100000;
        border-bottom: 1px solid gainsboro;
        background-color: #004d42;
    }
    header>.order-list{
        display: none;
    }
    header>.unorder-list{
        display: none;
    }
    .begin>.hor{
        position: absolute;
        top: 23vh;
        left: 5vw;
    }
    .begin>.hor>.heading>h2{
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        margin-left: 5vw;
    }
    .begin>.hor>.heading>h1{
        color: #ffff;
        margin-left: 18vw;
        cursor: pointer;
    }
    .contact-us{
        position: relative;
        height: 150vh;
        background-color: rgba(241, 225, 241, 0.6);
    }
    .contact-us>.box{
        position: absolute;
        top: 12vh;
        left: 5vw;
        width: 90vw;
        height: 115vh;
        background-color: #fff;
    }
    .contact-us>.box>.box-start>h1{
        margin-top: 2vh;
        margin-left: 3.5vw;
        font-size: 18px;
    }
    .contact-us>.box>.box-start>p{
        margin-top: 1vh;
        margin-left: 3.5vw;
    }
    .contact-us>.box>.inputs{
        margin-top: 5vh;
        margin-left: 7vw;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .contact-us>.box>.inputs>form{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .contact-us>.box>.inputs>form>#text-aria{
        width: 280px;
        height: 80px;
    }
    .contact-us>.box>.inputs>form>.sumbit{
        border-radius: 10px;
        background-color: #004d42;
        color: #fff;
        transition: all 0.5s ease-out;
        border: 1px solid transparent;
        cursor: pointer;
    }
    .contact-us>.box>.inputs>form>.sumbit:hover{
        background-color: #000;
    }
    .contact-us>.box>.inputs>form>input{
        width: 280px;
        height: 50px;
        outline: none;
        text-indent: 10px;
    }
    .footer{
        position: relative;
        height: 230vh;
        background-color: #004d42;
    }
    .footer>.extract{
        position: absolute;
        top: 5vh;
       left: 7vw;
        display: flex;
        flex-direction: column;
        gap: 50vh;
    }
    .footer>.extract>.quick-links>ul{
        list-style: none;
        line-height: 40px;
    }
    .footer>.extract>.quick-links>ul>li>a{
        text-decoration: none;
        color: #fff;
    }
    .footer>.extract>.social>ul{
        list-style: none;
        line-height: 40px;
    }
    .footer>.extract>.social>ul>li>a{
        text-decoration: none;
        color: #fff;
    }
    .footer>.extract>.top{
        margin-top: -10vh;
        margin-left: -2vw;
    }
    .footer>.extract>.top>ul{
        list-style: none;
        line-height: 40px;
    }
    .footer>.extract>.top>ul>li>a{
        text-decoration: none;
        color: #fff;
    }
    .footer>.extract>.location{
        margin-top: 10vh;
    }
    .footer>.extract>.location>ul{
        list-style: none;
        line-height: 40px;
    }
    .footer>.extract>.location>ul>li>a{
        text-decoration: none;
        color: #fff;
    }
    .footer>.footer-imp{
        position: absolute;
        top: 220vh;
        background-color: #000;
        height: 9.75vh;
        width: 100%;
    }
    .footer>.footer-imp>p{
        margin-top: 2vh;
        text-align: center;
        color: #ffff;
    }
    }         